<%- layout("layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-3">
    <h3>Edit listings</h3>
<form method="POST" action="/listings/<%=listing._id%>?_method=PUT" 
  class="needs-validation" novalidate enctype="multipart/form-data">
    <!-- <input type="hidden" name="_method" value="PUT"> -->

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
      <input id="title" name="listing[title]" value="<%= listing.title %>" type="text" 
      class="form-control" required>
      <div class="valid-feedback">
            your title literally stands out !!
          </div>
  </div>
          
 <div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
     <div class="invalid-feedback">
                Oops !! you forgot to enter the description
               </div>
 </div>

  <div class="mb-3">
    Original Listing Image<br/>
  <img src="<%= originalImageUrl%>"/>
  </div>


  <div class="mb-3">
<label for="Image" class="form-label">Uplod New Image</label>
  <input id="image" name="listing[image]"
    type="file" 
  class="form-control">
  </div>


  <div class="mb-3">
     <label for="Price" class="form-label">Price</label>
         <input name="listing[price]" value="<%= listing.price %>" type="number" 
         class="form-control" required>
             <div class="invalid-feedback">
                  C'mon you can't forget this!!
               </div>
  </div>
  <div class="mb-3">
    <label for="Country" class="form-label">Country</label>
  <input name="listing[country]" value="<%= listing.country %>" type="text"
  class="form-control" required>
  <div class="invalid-feedback">
                  please enter the country
               </div>
  </div>
    <div class="mb-3">
       <label for="Location" class="form-label">Location</label>
         <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
              <div class="invalid-feedback">
                please enter the location!!
               </div>
    </div>
    <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
</div>
</div>